<%= simple_form_for(@pet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Pets Name" %>
    <%= f.input :breed %>
    <%= f.input :age %>
    <%= f.input :size, collection: ['Very small', 'Small', 'Medium', 'Large', 'Very LARGE'] %>
    <%= f.input :availability, placeholder: 'What TIME and DAY is YOUR dog AVAILABLE?' %>
    <%= f.input :picture, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

