<p id="notice"><%= notice %></p>

<div class="row"> 
  <div class="col-md-4"> 
    <div class="panel panel-default"> 
      <div class="panel-body"> 

<%= image_tag @pet.picture_url, class: 'img-responsive img-thumbnail'%> 
<p class="lead"><strong> <%= @pet.name%> </strong></p> 


<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pet.size %>
</p>


<p>
  <strong>Availability:</strong>
  <%= @pet.availability %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%= @pet.user %>
</p> -->

<!-- the bit inside the new booking path is the parameter that gets passed to the next page -->
<%= link_to 'Make a booking', new_booking_path(pet: @pet.id), class: "btn btn-success btn-lg btn-block"%> 
<br>  

<!-- need the first line because the second if statement will break if a user isnt signed in -->
<% if user_signed_in? %> 
  <%= link_to 'Edit', edit_pet_path(@pet), class: "btn btn-info btn-lg btn-block" if current_user.pets.include?(@pet) %> 
<% end %> 

</div></div></div></div> 

