<div class="jumbotron"> 
<h1>Pet Playmates </h1>
<p>Get cuddles from dogs</p>
</div> 

<div class ="row" > 
<form class="navbar-form navbar-left" action="/pets/search" method ="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token%> 
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Find dogs in your area" autofocus name="area">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>


<div class = "row"> 
	<% Pet.all.each do |pet| %> 
	<div class="col-md-3"> 
		<div class="panel panel-defaul"> 
			<div class="panel-body"> 
				<%= link_to pet_path(pet) do %> 
					<%= image_tag(pet.picture_url(:thumbnail), class:'img-responsive') %> 
					<br>
				<% end %> 
				<%= link_to pet.name, pet_path(pet) %> 
			</div> 
		</div> 
	</div> 
	<% end %> 
</div> 




<% if user_signed_in? %> 
	<p> User type: <span class="label label-primary"><%= current_user.user_type %> </span> </p>
	<p> User role: <span class="label label-warning"> <%= 'Owner' if current_user.has_role? :owner %> </span> </p> 
	<% if current_user.has_role? :owner %> 
	List your pet
	<% end %> 
<% end %> 
